* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
@keyframes infinitslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100.7%);
  }
}

.container {
  width: 100%;
  margin-inline: auto;
  background-color: black;
  padding: 20px 0;
  /* overflow: hidden; */
}
.logos {
  display: flex;
  gap: 20px;
}
.logos-slide {
  height: 100px;
  display: flex;
  gap: 20px;

  animation: infinitslide 14s linear infinite;

  & li {
    width: 400px;
    flex-shrink: 0;
    border: 2px solid #fff;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 24px;
  }
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
