*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  height: 200px;
  margin: 20px auto;
}

.slider-wrapper {
  --slide-item: 1;
  --show-item: 3;
  border: 2px solid red;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  position: relative;
}

.animating {
  transition: 700ms;
  transition-timing-function: ease;
}

.clone {
}

.slider {
  /* list-style: none; */
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / var(--show-item));
  /* transition: 0.7s; */

  & li {
    border: 2px solid green;

    display: grid;
    place-items: center;
  }
}

.control {
  & .arrow {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px;
    /* background-color: aqua; */
    cursor: pointer;
    user-select: none;

    &.right {
      right: 0;
    }

    &.left {
      left: 0;
    }
  }

  & ul {
    list-style: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 3px;

    li {
      width: 15px;
      height: 15px;
      border: 2px solid #333;
      background-color: #333;
      border-radius: 100%;
      cursor: pointer;

      &.selected {
        background-color: red;
        transition: 0.3s;
      }
    }
  }
}

@media (max-width: 600px) {
  .slider-wrapper {
    --slide-item: 1;
    --show-item: 1;
  }
}
